<div class="panel panel-default">
    <div class="panel-heading"><strong class="ng-binding">Current Roles
        List</strong></div>
    <div class="table-responsive ng-scope">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-3">
                        <span class="fss-sort-click" ng-init="sortType = 'role_code';" ngclick="sortType = 'role_code'; sortReverse = !sortReverse">
                            Role Code
                            <span class="caret" ng-show="sortType == 'role_code' &&
                                                         !sortReverse"></span>
                            <span class="caret caret-up" ng-show="sortType == 'role_code' &&
                                                                  sortReverse"></span>
                        </span>
                    </th>
                    <th class="col-xs-4">
                        <span class="fss-sort-click" ng-click="sortType = 'role_name'; sortReverse
                                                               = !sortReverse">
                            Role Name
                            <span class="caret" ng-show="sortType == 'role_name' &&
                                                         !sortReverse"></span>
                            <span class="caret caret-up" ng-show="sortType == 'role_name' &&
                                                                  sortReverse"></span>
                        </span>
                    </th>
                    <th class="col-xs-2">
                        <span class="fss-sort-click" ng-click="sortType = 'standard_rate';
                                                               sortReverse = !sortReverse">
                            Standard Rate
                            <span class="caret" ng-show="sortType == 'standard_rate' &&
                                                         !sortReverse"></span>
                            <span class="caret caret-up" ng-show="sortType == 'standard_rate'
                                                                  && sortReverse"></span>
                        </span>
                    </th>
                    <th class="col-xs-2">
                        <span class="fss-sort-click" ng-click="sortType = 'clearance_rate';
                                                               sortReverse = !sortReverse">
                            Clearance Rate
                            <span class="caret" ng-show="sortType == 'clearance_rate' && !sortReverse"></span>
                            <span class="caret caret-up" ng-show="sortType == 'clearance_rate' && sortReverse"></span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="ng-scope" ng-repeat="role in roles | filter:search | orderBy:sortType:sortReverse">
                    <td><span ng-click="removeRole(role.role_code)"><span class="glyphicon
                        glyphicon-remove" aria-hidden="true"></span></span></td>
                    <td>
                        <edit-input record="oldval" value="role.role_code"
                                    servicename="adminRoleService" action="updateRoleCode"></edit-input>
                    </td>
                    <td>
                        <edit-input record="role.role_code" value="role.role_name"
                                    servicename="adminRoleService" action="updateRoleName"></edit-input>
                    </td>
                    <td>
                        <edit-input record="role.role_code" value="role.standard_rate"
                                    servicename="adminRoleService" action="updateStandardRate"></edit-input>
                    </td>
                    <td>
                        <edit-input record="role.role_code" value="role.clearance_rate"
                                    servicename="adminRoleService" action="updateClearanceRate"></edit-input>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>